/* Personal API Stylesheet */

/* Webfont CSS */
@import url(font.css);

/* Design base */
body {
	background-color: #eae9eb;
}

#content {
	background-color: #fff;
	text-align: left;
	border: 1px solid #ccc;
	margin: 0px auto;
	font-family: Helvetica, arial, sans-serif;
	font-size: 15px;
	line-height: 22px;
}

h1 {
	font-weight: 700;
	font-size: 17px;
	margin: 0;
}
h2 {
	font-weight: 700;
	font-size: 17px;
	margin-top: 30px;
}

footer {
	font-size: 13px;
	text-align: center;
	margin: 30px 0 -15px 0;
}

a {
	color: #4183c4;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


abbr, .help {
  border-bottom: 1px dotted #333;
  cursor: help; }

code {
	font-size: 14px;
	line-height: 16px;
}


.saved, .wrong {
	border-radius: 3px;
	padding: 10px;
	margin: 0 0 15px 0;
	font-weight: bold;
}
.saved {
	background-color: #00ac42;
	color: #fff;
}
.wrong {
	background-color: #FF9FA3;
}


.module-select {
	display: block;
	margin: 0 0 15px 0;
}

.index-icon {
	float: left;
	color: #000;
}

.module h2 {
	margin-bottom: -13px;
}
.module .icon-module {
	float: left; font-size: 40px; margin: 2px 10px 10px 0;
}
.module ol {
	margin: 0 0 0 -10px;
}
.config {
	margin: 0 0 30px 0;
	border-bottom: 1px #ccc solid;
	padding: 0 0 6px 0;
}
.config .instructions {
	margin: 0 0 10px 0;
}

#requestsTable td {
	vertical-align: top;
}

/* Forms */

label {
	display: block;
	width: 100px;
	height: 22px;
	padding: 2px;
	float: left;
}
input[type=text], input[type=password] {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: monospace;
	font-size: 13px;
	color: #000;
	padding: 3px;
	width: 200px;
}
input[readonly] {
    color: #999;
}
.module input[type=text] {
	width: 380px;
}
.module label, .user label {
	width: 150px;
}
.permissions label {
	width: 150px;
}

input[type=submit] {
	color: #333;
	background-color: #e1e1e1;
	background-repeat: repeat-x;
	border-color: #5ca941;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 10px 6px 10px;
	border-radius: 3px;
	border: 1px solid #e1e1e1;
	margin: 10px 0 10px 0;
	vertical-align: middle;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color: #c4c4c4;
	border: 1px solid #c4c4c4;
}

.codebox {
	display: block; padding: 0.5em;
	color: #333;
	background: #eee;
	font-family: monospace;
	font-size: 14px;
	word-wrap: break-word;
}

/* Media queries for responsiveness */
@media screen and (min-width: 801px) {
	body { 
		padding: 50px;
	}

	#content { 
		width: 580px;
		padding: 40px;
	}
}

@media screen and (max-width: 800px) {
	body { 
		padding: 0.6%;
	}

	#content { 
		width: 88%;
		padding: 5.4%;
	}
}